name: Hourly Lock Code Generator
on:
  schedule:
    - cron: "*/10 * * * *"
      # every 10 minutes UTC
  workflow_dispatch:
permissions:
  contents: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
      - name: Run script
        env:
          TTLOCK_CLIENT_ID: ${{ secrets.TTLOCK_CLIENT_ID }}
          TTLOCK_ACCESS_TOKEN: ${{ secrets.TTLOCK_ACCESS_TOKEN }}
        run: |
          python run_bookings.py
      - name: Commit ttlock_log.csv
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add ttlock_log.csv
          git pull --rebase --autostash origin main
          git diff --quiet && git diff --staged --quiet || git commit -m "Update ttlock_log.csv with latest run"
          git push
